In [1]:
import numpy as np
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\laragon\bin\python\python-3.10\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\laragon\bin\python\python-3.10\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\traitlets\config\application.py", line 1041, in launch_instance
    app.start()
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\tornado\platform\asyncio.py", line 215, in start
    self.asyncio_loop.run_forever()
  File "C:\laragon\bin\python\python-3.10\lib\asyncio\base_events.py", line 600, in run_forever
    self._run_once()
  File "C:\laragon\bin\python\python-3.10\lib\asyncio\base_events.py", line 1896, in _run_once
    handle._run()
  File "C:\laragon\bin\python\python-3.10\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\ipykernel\zmqshell.py", line 530, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2940, in run_cell
    result = self._run_cell(
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2995, in _run_cell
    return runner(coro)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3194, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3373, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\JAHID\AppData\Local\Temp\ipykernel_5880\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\laragon\bin\python\python-3.10\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\laragon\bin\python\python-3.10\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\JAHID\AppData\Roaming\Python\Python310\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

In [2]:
data_dic = {
    'A': [1,2,None,4,np.nan],
    'B': [np.nan,np.nan,np.nan,np.nan,np.nan,],
    'C': [11,12,13,14,15],
    'D': [16,np.nan,18,19,20],
}
df = pd.DataFrame(data_dic)
df

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [3]:
df.isnull()

       A     B      C      D
0  False  True  False  False
1  False  True  False   True
2   True  True  False  False
3  False  True  False  False
4   True  True  False  False

In [4]:
df.isnull().sum()

A    2
B    5
C    0
D    1
dtype: int64

In [5]:
df.isnull().sum().sum()

np.int64(8)

In [6]:
df.notna().sum()

A    3
B    0
C    5
D    4
dtype: int64

In [7]:
df['A'].mean()

np.float64(2.3333333333333335)

In [8]:
df.loc[3].sum()

np.float64(37.0)

In [9]:
df.dropna(axis=0)

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [10]:
df.dropna(thresh=4,axis=1)

    C     D
0  11  16.0
1  12   NaN
2  13  18.0
3  14  19.0
4  15  20.0

In [11]:
df.fillna(value=2)

     A    B   C     D
0  1.0  2.0  11  16.0
1  2.0  2.0  12   2.0
2  2.0  2.0  13  18.0
3  4.0  2.0  14  19.0
4  2.0  2.0  15  20.0

In [12]:
df['A'].fillna(value=df['A'].mean())

0    1.000000
1    2.000000
2    2.333333
3    4.000000
4    2.333333
Name: A, dtype: float64

In [13]:
df.fillna(method='ffill')

C:\Users\JAHID\AppData\Local\Temp\ipykernel_5880\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12  16.0
2  2.0 NaN  13  18.0
3  4.0 NaN  14  19.0
4  4.0 NaN  15  20.0

In [19]:
from sklearn.impute import SimpleImputer

In [24]:
df2 = df.copy()
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [26]:
imputer = SimpleImputer(strategy='constant',fill_value= -1)
df2['A'] = imputer.fit_transform(df2[['A']])
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2 -1.0 NaN  13  18.0
3  4.0 NaN  14  19.0
4 -1.0 NaN  15  20.0

In [31]:
df2 = df.copy()
imputer = SimpleImputer(strategy='mean',)
df2['A'] = imputer.fit_transform(df2[['A']])
df2

          A   B   C     D
0  1.000000 NaN  11  16.0
1  2.000000 NaN  12   NaN
2  2.333333 NaN  13  18.0
3  4.000000 NaN  14  19.0
4  2.333333 NaN  15  20.0

In [ ]:
df2 = df.copy()
imputer = SimpleImputer(strategy='median',)
df2['A'] = imputer.fit_transform(df2[['A']])
df2

In [32]:
df2 = df.copy()
imputer = SimpleImputer(strategy='most_frequent')
df2['A'] = imputer.fit_transform(df2[['A']])
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  1.0 NaN  13  18.0
3  4.0 NaN  14  19.0
4  1.0 NaN  15  20.0

In [33]:
from sklearn.impute import KNNImputer

In [35]:
df2 = df.copy()
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [37]:
knn_imputer = KNNImputer(n_neighbors=2,weights="uniform")
A1 = knn_imputer.fit_transform(df2)
A1

array([[ 1., 11., 16.],
       [ 2., 12., 17.],
       [ 3., 13., 18.],
       [ 4., 14., 19.],
       [ 3., 15., 20.]])

In [40]:
df2 = pd.DataFrame(data = A1,columns=['A','C','D'])
df2

     A     C     D
0  1.0  11.0  16.0
1  2.0  12.0  17.0
2  3.0  13.0  18.0
3  4.0  14.0  19.0
4  3.0  15.0  20.0